<html>

<head>
  <title>
    Freezer Monitor
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Piedra&family=Bree+Serif&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/info.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
</head>

<body>
  <div class="jumbotron">
    <div class="row nav">
      <img class="logo" src="/assets/logo.png" />
      <span>
        <a href="/"><i class="fa fa-2x fa-home hicon" aria-hidden="true"></i></a>
        <a href="/config"><i class="fa fa-2x fa-cog seticon" aria-hidden="true"></i></a>
      </span>
    </div>
  </div>
  <h1 class="mainhead">Freezer Temperature Monitoring System</h1>
  <div class="wrapper1">
    <% if(error&&error.length>0){%>
    <div class="alert alert-danger" role="alert">
      <%=error%>
    </div>
    <% }%>

    <div class="dropdown frezer-select">
      <button class="btn btn-secondary dropdown-toggle frebt" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-freezerid=<%=currentFreezer.freezer_id%>>
      <%=currentFreezer.freezer_name%>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%allFreezer.forEach((dropFreezer)=>{%>
        <a class="dropdown-item"
          href="/freezeinfo/<%=dropFreezer.freezer_id%>"><%=dropFreezer.freezer_name%></a>
        <%})%>
      </div>
    </div>

    <div class="charts">
      <div class="meter">
        <div class="card c1">
          <div class="card-body">
            <h4 class="head1">Temperature</h4>
            <hr />
            <canvas id="donutChart1"></canvas>
            <h3 class="val douTemp">

            </h3>
          </div>
        </div>

        <div class="card c2">
          <div class="card-body">
            <h4 class="head2"> Current</h4>

            <hr />
            <canvas id="donutChart2"></canvas>
            <h3 class="val douCurrent">

            </h3>
          </div>
        </div>
      </div>

      <section class="sec2">
        <div class="sep-temp-cur">
          <div class="card c3">
            <div class="card-body">
              <h4 class="head3">Current Consumption</h4>
              <div class="dropdown">
                <button class="btn btn-sm btn-secondary dropdown-toggle time current" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      10 min
                </button>
                <div class="dropdown-menu current_drop" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" style="color: black;" data-time="10"    data-type="current"> 10 min </a>
                  <a class="dropdown-item" style="color: black;" data-time="30"   data-type="current"> 30 min </a>
                  <a class="dropdown-item" style="color: black;" data-time="60"    data-type="current"> 1 hr </a>
                  <a class="dropdown-item" style="color: black;" data-time="360"   data-type="current"> 6 hr </a>
                  <a class="dropdown-item" style="color: black;" data-time="1440"  data-type="current"> 24 hr </a>
                </div>
             </div>
             <hr>
             <div class="area1">
              <canvas id="areaChart1"></canvas>
             </div>
           </div>
         </div>

        <div class="card c4">
          <div class="card-body">
            <h4 class="head4">Temperature Trend</h4>
            <div class="dropdown">
              <button class="btn btn-sm btn-secondary dropdown-toggle time temperature" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                10 min
              </button>
                  <div class="dropdown-menu temp_drop" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" style="color: black;" data-time="10"    data-type="temperature">10 min</a>
                    <a class="dropdown-item" style="color: black;" data-time="30"    data-type="temperature">30 min</a>
                    <a class="dropdown-item" style="color: black;" data-time="60"    data-type="temperature">1 hr</a>
                    <a class="dropdown-item" style="color: black;" data-time="360"   data-type="temperature">6 hr</a>
                    <a class="dropdown-item" style="color: black;" data-time="1440"  data-type="temperature">24 hr</a>
                  </div>
             </div>
          <hr>
          <div class="area2">
            <canvas id="areaChart2"></canvas>
          </div>
        </div>
    </div>
  </div>

  <div class="card c6">
    <div class="card-body">
      <h4 class="head6">Alert</h4>
      <hr />
      <span class="spec-head">
        <h6 class="head7">Date</h6>
        <h6 class="head8">Events</h6>
      </span>
      <hr />
      <div class="alert_list">

      </div>
    </div>
  </div>
  </section>

  <div class="card c5">
    <div class="card-body">
      <h4 class="head5">Avg.Temperature vs Current</h4>
      <div class="dropdown">
          <button class="btn btn-sm btn-secondary dropdown-toggle time temp-cur" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              10 min 
          </button>
              <div class="dropdown-menu tempVScur_drop" aria-labelledby="dropdownMenuButton ">
                <a class="dropdown-item" style="color: black;"  data-time="10"      data-type="temp-cur" >10 min</a>
                <a class="dropdown-item" style="color: black;"  data-time="30"      data-type="temp-cur">30 min</a>
                <a class="dropdown-item" style="color: black;"  data-time="60"      data-type="temp-cur">1 hr</a>
                <a class="dropdown-item" style="color: black;"  data-time="360"     data-type="temp-cur">6 hr</a>
                <a class="dropdown-item" style="color: black;"  data-time="1440"    data-type="temp-cur">24 hr</a>
              </div>
       </div>
    <hr>
    <div class="area3">
      <canvas id="stackedBarChart"></canvas>
    </div>
  </div>
  </div>
  </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="/js/info.js"></script>
  
</body>

</html>